# Stellar
EXPO_PUBLIC_STELLAR_NETWORK=testnet
EXPO_PUBLIC_API_KEY=dev-key-not-secure
EXPO_PUBLIC_API_BASE_URL=https://noir-backend-646705730224.us-central1.run.app
EXPO_PUBLIC_ISSUER_ADDRESS=
EXPO_PUBLIC_DEVICE_REGISTRY_CONTRACT=CAVDDFFTS3FJZCVLDNOXTPLUYCYEEJGS7TGIOI5U6N4J4EIUFGMDETS5
EXPO_PUBLIC_AGENT_REGISTRY_CONTRACT=CCFR7FTYU5NAVNRHK5NCTFO22L3K4O4R43BVUK4XRE2WFUGDVTRTIXBG
EXPO_PUBLIC_PAYMENT_ESCROW_CONTRACT=CBMAP5SOZLGOHEFJX6NLBWJM73W5K6EDBVNDC33N62X2MFOT4RTP4MMO

# PDAX (all PDAX calls go through backend proxy — no keys needed in frontend)

# x402 Terminal Config
EXPO_PUBLIC_TERMINAL_ID=
EXPO_PUBLIC_TERMINAL_PUBLIC_KEY=
