# Stellar
EXPO_PUBLIC_STELLAR_NETWORK=testnet
EXPO_PUBLIC_API_KEY=dev-key-not-secure
EXPO_PUBLIC_API_BASE_URL=https://noir-backend-646705730224.us-central1.run.app
EXPO_PUBLIC_ISSUER_ADDRESS=
EXPO_PUBLIC_DEVICE_REGISTRY_CONTRACT=CC7BV6ULIW3LZ53I2MIK45GISQYIMWX2VCNVHWJKEWT6SNOP7KIHBVMQ
EXPO_PUBLIC_AGENT_REGISTRY_CONTRACT=CCDMVM2DVK7P7R4TGNBA6DC5D57QAQN4MJXK7WPLTEEGL4UOQUCCTQS2
EXPO_PUBLIC_PAYMENT_ESCROW_CONTRACT=CA4R4676IS72T2IVDTJKQB247KCZLGHDGRG3DUP2NKI3OBHBGA6CLQMQ

# PDAX (all PDAX calls go through backend proxy — no keys needed in frontend)

# x402 Terminal Config
EXPO_PUBLIC_TERMINAL_ID=
EXPO_PUBLIC_TERMINAL_PUBLIC_KEY=
