# Stellar
EXPO_PUBLIC_STELLAR_MASTER_KEY_ID=
EXPO_PUBLIC_CHANNEL_SECRET_KEY=
EXPO_PUBLIC_ISSUER_ADDRESS=
EXPO_PUBLIC_DEVICE_REGISTRY_CONTRACT=

# PDAX
EXPO_PUBLIC_PDAX_API_KEY=
EXPO_PUBLIC_PDAX_WEBHOOK_SECRET=
